body {
    background-color: #F4F7F5;
    color: #08090A;
    margin: 0px;
}
.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.page-header {
    background-color:#BA7BA1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a {
    color: #08090A;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
}
.navigation {
    display: flex;
}

nav a:hover {
    font-weight: bold;
}
.nav-button {
    background-color: transparent;
    border-color: transparent;
    display: none;
}
.banner {
    background-color: rgb(0, 0, 0);
    color: #F4F7F5;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner h2 {
    font-size: 4rem;
}

.banner button {
    background-color: yellow;
    padding:  0.8rem;
    min-width: 12em;
    border: 1px white;
    border-radius: 4pt;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}

.card-content {
    padding: 1em;
}

.content {
    margin-top: 3em;
    margin-left: 10em;
    margin-right:  10em;
    margin-bottom: 3em;
}

.card {
    border: 1px solid black;
    border-radius: 8pt;
    overflow: hidden;
    flex: 1;
    min-width: 360px;
}

.card img {
    max-width:  100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}

.banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: linear-gradient( to right, purple, pink );
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #6e485f;
    min-height: 20vh;
    padding: 1em;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-menu a, .legal a, .social a {
    color: white;
    text-decoration: none;
}

.legal {
    min-width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

#contact {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    gap: 2px;
}

#contact input {
    margin-bottom: 1em;
}

#contact input, #contact textarea {
    margin-bottom: 1em;
    padding: 5px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.buttons > button {
    min-width: 100px;
}

#map {
    width: 100px;
    aspect-ratio: 4/3;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 10px;
}

