body {
    background-color: #F4F7F5;
    color: #08090A;
    margin: 0px;
}
.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.page-header {
    background-color:#BA7BA1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a {
    color: #08090A;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
}
.navigation {
    display: flex;
}
.nav-button {
    background-color: transparent;
    border-color: transparent;
    display: none;
}
.banner {
    background-color: rgb(0, 0, 0);
    color: #F4F7F5;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner h2 {
    font-size: 4rem;
}

.banner button {
    background-color: yellow;
    padding:  0.8rem;
    min-width: 12em;
    border: 1px white;
    border-radius: 4pt;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card-content {
    padding: 1em;
}

.content {
    margin-top: 3em;
    margin-left: 10em;
    margin-right:  10em;
    margin-bottom: 3em;
}

.card {
    border: 1px solid black;
    border-radius: 8pt;
    overflow: hidden;
}

.card img {
    max-width:  100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;

}